@font-face {
    font-family: 'Fuente';
    src: url('./fonts/SquadaOne-Regular.ttf');
}

@font-face {
    font-family: 'Fuente2';
    src: url('./fonts/static/JosefinSans-Light.ttf');
}

@font-face {
    font-family: 'Fuente2_1';
    src: url('./fonts/static/JosefinSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Fuente2_2';
    src: url('./fonts/static/JosefinSans-Bold.ttf');
}

@font-face {
    font-family: 'Fuentetitulo';
    src: url('./fonts/CinzelDecorative-Black.ttf');
}


html{
    scroll-behavior: smooth;
}

body{
    background: #e9eff5;
    /*overflow-x: hidden;*/
    margin: 0;
    /*padding:0 25px ;*/
    width: 100%;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(247 247 247 / 0%) 70%, rgb(49 46 46)), url('./imagenes/fondo.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.lenguas{
    margin: 0 10px;
}

.navegable{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navegable_inicio{
    display: flex;
    gap: 1rem;
}

.navegacion{
    position: sticky;
    z-index: 2;
    top: 0;
}

.navegacion_adsolute{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100%;
    position: absolute;
    background-color: #eeeeef54;
    filter: drop-shadow(1px 1px 15px white)
}

a{
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto circundante */
    cursor: pointer; /* Cambia el cursor para que parezca clickeable */
    padding: 0 2vw; /*20px*/
    display: contents;
}

h3{
    margin: auto 2vw; /*45px*/
    cursor: pointer;
}

.navegable_inicio h3:hover, .Reserva h3:hover{
    color: #740707c7;
    filter: drop-shadow(0px 1px 0px white);
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    animation-timeline: scroll();
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0 0 0));
}


.caja_servicios p{
    font-weight: bold;
    text-shadow: 
        0.5px 0.5px 0px rgb(63, 64, 70), 
        -0.5px 0.5px 0px rgb(63, 64, 70), 
        0.5px -0.5px 0px rgb(63, 64, 70), 
        -0.5px -0.5px 0px rgb(63, 64, 70);
    color:aliceblue
}

.info p{
    text-align: center;
    filter: drop-shadow(2px 2px 1px black);
}

.info h1{
    font-family: 'Fuente';
    filter: drop-shadow(2px 4px 0px black);
    font-size: 5rem;
    color: #ecf4fd;
    text-align: center;
    letter-spacing: 1.5vw;
}

.Nosotros p, .info p{
    padding: 35px;
    font-size: 2vw;
    font-family: 'Fuente2';
    filter: drop-shadow(0px 0px 0px black);
}

.info p{
    color: #d9d9d9;
    filter: drop-shadow(0px 0px 0px white);
}

.Nosotros p{
    color: #515151;
}

.contenedor_imagen{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenedor_imagen img{
    filter: drop-shadow(0 0 3px white);
    max-width: 60%;
    height: auto;
}

.info, .Nosotros, .Galeria, .Servicios, .Ubicacion{
    margin-bottom: 200px;
    padding-top: 20px;
}

#galeria{
    padding: 8vh 0;
    filter: drop-shadow(2px 0px 1px black);
    border: 2px solid #7b7575;
}

#novedades{
    padding: 20px 0;
    margin-bottom: 200px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh - 80px)!important;
}
  
  /* Tamaño de las miniaturas */
.image-gallery-thumbnail-image {
    width: 100px; /* Ajusta según tus necesidades */
    height: 60px;
    object-fit: cover;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Altura de la pantalla completa */
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 10px white);
}

.interactive-image {
    width: 50%; /* 50% del ancho de la pantalla */
    height: auto; /* 50% de la altura de la pantalla */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, width 0.3s ease, height 0.3s ease;
    object-fit: cover; /* Ajusta el contenido para llenar el espacio sin deformarse */
    cursor: pointer;
}

.interactive-image.open {
    width: 80%; /* Aumenta el tamaño de la imagen */
    height: auto;
    transition: width 0.3s ease, height 0.3s ease;
}

.opened {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fto{
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.fto img{
    position: static;
    width: 100%;
}

.Nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter: sepia(0.2);
    animation-timeline: scroll();
}

.contenedor_info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh; /* Ajusta según el tamaño de tu contenedor */
}

.Quienes_somos{
    max-width: 70%;
    text-align: center;
    z-index: 1;
}

.img_condor {
    position: absolute;
    top: 0;
    right: 0;
    width: 22vw; /* Ajusta el tamaño de la imagen según necesites */
    filter: opacity(0.6);
    mask-image: radial-gradient(circle farthest-corner,  black 14%, transparent 78%);
    -webkit-mask-image: radial-gradient(circle farthest-corner,  black 14%, transparent 78%);
}
  
.img_puma {
    position: absolute;
    bottom: 0;
    left: 0;
    filter: opacity(0.8);
    mask-image: radial-gradient(circle,  black 35%, transparent 80%);
    -webkit-mask-image: radial-gradient(circle,  black 35%, transparent 80%);
    width: 22vw; /* Ajusta el tamaño de la imagen según necesites */
}

footer{
    text-align: center;
}

footer p{
    font-size: 13px;
    font-family: 'Fuente2';
    color: white;
}

.Servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
}

.caja_servicios{
    display: grid;
    gap: 10px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(19vw,1fr));
    width: 100%;
    align-items: center;
}

.contenido{
    /*Para un titulo por debajo de la imagen*/
    margin-top:5vh;
  
}

.mostrarDiv{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: fadeIn 0.5s ease;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    padding: 20px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.botones{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 28vw;
}

.mostrarDiv button{
    color: white;
    cursor: pointer;
    width: 9vw;
    height: 40px;
    border-color: #ffffff;
    filter: none;
}

.mostrarDiv button:hover{
    background: radial-gradient(#c5d7d9, #13708508);
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
}

.informacion_Servicios{
    height: 100%;
    position: absolute;
    background-color: #00000073;
    z-index: 2;
}

.informacion_Servicios p {
    font-family: math;
    margin: 0 4vw;
    font-size: 3vh;
    text-align: center;
    filter: drop-shadow(0px 0px 1px black);
    color: #c6d9dd;
    line-height: 2vw;
    letter-spacing: 1px;
    font-weight: bold;
}

.caja_servicios img{
    width: 72%;
    position: static;
    border-radius: 10px;
}

.servicios_ofrecidos{
    border: 6px double #2e7f7f;
    position: relative; /*falta corregir*/
    width:80%;
    /*margin-right: 22px;*/
    margin-top: 22px;
    /*background-color: #c9b7b7a3;*/
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    --x-px: calc(var(--x) * 1px);
    --y-px: calc(var(--y) * 1px);
    --border: 2px;
    background: rgba(255, 255, 255, 0.125);
    border-radius: 0.5rem;
    overflow: hidden;
  
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  
    &:before {
      z-index: 1;
    }
  
    &:after {
      opacity: 0;
      z-index: 2;
      transition: opacity 0.4s ease;
      background: radial-gradient(800px circle at var(--x-px) var(--y-px), rgba(192, 188, 188, 0.3), transparent 40%);;
    }
  
    &:hover:after {
      opacity: 1;
    }
}

.servicios_ofrecidos:hover{
    transform: scale(1.2);
}

.servicios_ofrecidos:hover .contenido {
    opacity: 1; /* Mostrar el contenido al hacer hover */
}

.btn-navegacion {
    display: inline-block;
    padding: 9px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Fuente2_2';
}

.btn-navegacion:hover {
    background-color: #0056b3;
}


.Ubicacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mapa{
    width: 70vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbbbbb24;
    border-radius: 20px;
    border: 1px solid #930000;
}

iframe{
    border-radius: 20px;
    width: 90%;
    height: 80%;
}

.caja_servicios h2{
    font-family: 'Fuente2_1';
}

.Ubicacion h1, .Servicios h1, .Nosotros h1{
    font-family: 'Fuente2_2';
    color: black;
    filter: drop-shadow(1px 1px 1px black);
    letter-spacing: 1vw;
    font-size: 4vw;
}

.Reserva h3, .App h2{
    color: #000000;
    filter: drop-shadow(0px 1px 0px rgb(195, 196, 196));
}

.reservas h3{
    font-family: 'Fuente2_2';
}

.navegable_inicio, .App h2{
    filter: drop-shadow(0px 1px 0px white);
    font-family: 'Fuente2_2';
}

/**************************RESERVAS**************************/
.App{
    background-color: #9aa5d145;
    width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
    border-radius: 17px;
}

.datos{
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
}

span{
    color: red;
    filter: drop-shadow(0px 0px 0px red);
}

.reservas{
    margin-top: 90px;
}

.encabezadoForm{
    text-align: center;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

label{
    display: block;
    font-family: 'Fuente2';
    color: aliceblue;
}

legend{
    font-family: 'Fuente2_1';
    color: aliceblue;
}

button{
    border-radius: 10px;
    background: #00000000;
    font-size: 2.5vh;
    font-family: fantasy;
    filter: drop-shadow(0px 1px 0px white);
    font-family: serif;
}

input{
    border-radius: 6px;
}


.btnIdioma{
    margin-top: 0;
}

.menuObciones{
    display: none;
}

strong {
    color: #c12121;
    filter: drop-shadow(0px 1px 0px white);
}

.whatsapp-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    font-size: 10vh;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    filter: drop-shadow(1px 1px 4px #099023);
}

.whatsapp-link:hover {
    background-color: #1da851;
}

.whatsapp{
    width: 100px;
    height: auto;
}

@media (min-width:500px){
    .contenido{
        /*titulo cesondido al hacer un hover*/
        opacity: 0;
        margin-top: 0;
        background: rgb(0 0 0 / 78%);
        border-radius: inherit;
        color: white;
        text-decoration: none;
        z-index: 1;
        position: absolute;
        inset: var(--border);
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        text-align: center; /* Asegurar que el texto esté centrado si es multilinea */

        /* Ajustes para los elementos internos 
        > strong {
            font-size: 125%;
        }

        > span {
            opacity: 0.7;
        }
            */
        
    }
}

@media (max-width: 500px) {
    .navegacion{
        filter: none;
    }
    .navegable, .Reserva, .lenguas{
        display: none;
    }

    .menuObciones{
        display: block;
        z-index: 1;
        margin-right: 9px;
    }

    .menu_{
        position: absolute;
        right: 0;
        top: 7%;
        background-color: #9b9b9be3;
        border-radius: 3px;
        height: 100vh;
    }

    .whatsapp-link{
        font-size: 5vh;
    }

    a{
        width: 38vh;
        text-align: center;
    }

    .menu_ ul{
        list-style: none;
        padding: 13px 8px;
        text-align: center;
    }

    .menu_ li{
        margin: 38% 0px;
    }

    .contenedor_imagen{
        height: 100%;
    }

    .contenido{
        margin: 0;
    }

    .info, .Nosotros, .Galeria, .Servicios, .Ubicacion {
        margin-bottom: 0;
        padding-top: 0;
    }

    .info{
        display: flex;
        /*flex-direction: column-reverse;*/
        justify-content: space-around;
    }

    #novedades{
        margin-bottom: 0;
    }

    .image-container{
        height: 50vh;
    }

    .Nosotros{
        animation: none;
    }

    .Nosotros p, .info p {
        font-size: 4vw;
    }    

    .Quienes_somos{
        max-width: 95%;
    }

    .Servicios {
        height: 100vh;
    }

    .servicios_ofrecidos{
        transition: none;
    }

    .servicios_ofrecidos:hover{
        transform: none;
    }

    .caja_servicios{
        grid-template-columns: repeat(auto-fill, minmax(28vw, 1fr));
    }

    .caja_servicios h2{
        font-size: 80%;
        filter: drop-shadow(0px 0px 0px black);
        color: #4b4949;
    }

    .caja_servicios img{
        width: 100%;
        height: 62%;
    }

    .informacion_Servicios p{
        line-height: 1;
        font-size: 14px;
        letter-spacing: 2px;
    }

    .botones{
        gap: 20vw;
    }

    .mostrarDiv button{
        width: 75px;
    }

    .mapa{
        height: 30vh;
    }

    /*Redimensionar llas componentes del formulario*/
    /*Telefonos moviles*/

    .App{
        width: 76vw;
        padding: 4%;
        margin: 3vh 0;
    }

    .App h2{
        font-size: 100%;
    }

    .App label{
        font-size: 80%;
    }

    footer p{
        font-size: 20%;
    }
}